name: tension_ceiling_app
description: Приложение для смет натяжных потолков
publish_to: 'none'  # Не публикуем в pub.dev
version: 1.0.9+9

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  sqflite: ^2.2.8+4
  path: ^1.8.3
  provider: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/  # ← Правильный формат списка
